/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navigation-title, .title, .navigation-links {
  display: inline;
  line-height: 5.2rem;
}

.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
}

.title {
  font-size: 1.8rem;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 92rem;
}

.wrapper > section.container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
