// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weather-splash {
  padding-top: 16.2rem;
  padding-bottom: 16.2rem;
  background-image: url(/assets/alex-wise-582614-unsplash.jpg);
  background-size: cover;
  background-position: center;
  
  h2 {
    color: #eee;
  }
}

.splash-cta {
  max-width: 60rem;
  padding: 5rem;
  background: black;
  background-color: rgba(0,0,0,0.4);
  border-radius: 20px;
  text-align: center;
}
